body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
}

h1, h2, h3 {
    color: #333;
}

input, button {
    padding: 10px;
    margin: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

#loginSection {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: auto;
}

#appSection {
    margin-top: 20px;
}
